workflow/Instagram-to-Pinecone-FIXED.json
{
  "name": "Instagram-to-Pinecone-FIXED",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "a34dd739-be42-4b22-9626-f6dcab0e0644",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -816,
        144
      ],
      "webhookId": "7222b8fd-bd8b-4f76-9b05-2ea65924ae92",
      "credentials": {
        "telegramApi": {
          "id": "5uoP4G2VKuspNMag",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract Instagram URL from Telegram message\nconst message = $input.item.json.message.text || '';\n\n// Instagram URL patterns\nconst instagramRegex = /(?:https?:\\/\\/)?(?:www\\.)?instagram\\.com\\/(?:p|reel|reels|tv|stories)\\/([A-Za-z0-9_-]+)\\/?/gi;\n\nconst match = message.match(instagramRegex);\n\nif (match && match.length > 0) {\n  return [{\n    json: {\n      url: match[0],\n      chatId: $input.item.json.message.chat.id,\n      messageId: $input.item.json.message.message_id,\n      originalMessage: message\n    }\n  }];\n} else {\n  return [{\n    json: {\n      url: null,\n      chatId: $input.item.json.message.chat.id,\n      messageId: $input.item.json.message.message_id,\n      error: 'No Instagram URL found in message',\n      originalMessage: message\n    }\n  }];\n}"
      },
      "id": "a29da1ea-3631-48ab-a91b-f2d49279949d",
      "name": "Extract URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "url-exists",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.url }}",
              "rightValue": ""
            },
            {
              "id": "url-not-null",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.url }}",
              "rightValue": "null"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ee4d0ec7-85a0-4f4d-a618-e1692ba02a04",
      "name": "Check URL Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -192,
        128
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "❌ No Instagram URL found in your message.\n\nPlease send a valid Instagram URL (post, reel, or story).\n\nExample: https://www.instagram.com/p/ABC123/",
        "additionalFields": {
          "reply_to_message_id": "={{ $json.messageId }}"
        }
      },
      "id": "63408b96-a41a-4847-9969-b39595581d74",
      "name": "Error: No URL Found",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        64,
        320
      ],
      "webhookId": "84f1505d-b2e7-4c81-89c4-10345c02fb00",
      "credentials": {
        "telegramApi": {
          "id": "5uoP4G2VKuspNMag",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/shu8hvrXbJbY3Eb9W/runs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $credentials.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "directUrls",
              "value": "={{ [$json.url] }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "bc033358-d4e5-4367-9a03-3f77ee4eadfc",
      "name": "Start Apify Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "EZwWpe8qNOXlyuG7",
          "name": "apify_credentials"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "0dc466f9-8c49-4068-a42b-22e561b2c69b",
      "name": "Initial Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "webhookId": "67eba1ca-bb21-4cd9-8d42-aa3a062ee13f"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $('Start Apify Run').item.json.data.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $credentials.token }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "b3b86fda-6beb-4c4a-bf6d-179e26c9865b",
      "name": "Poll Apify Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        0
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "EZwWpe8qNOXlyuG7",
          "name": "apify_credentials"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "status-succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "SUCCEEDED"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a84da5ea-dcfc-413e-b502-443623e1f4b7",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1088,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "status-running",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "RUNNING"
            }
          ]
        },
        "options": {}
      },
      "id": "4a70d870-aa75-4d8a-9f61-68237e0a171d",
      "name": "Check If Still Running",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        432,
        368
      ]
    },
    {
      "parameters": {},
      "id": "23c105ab-ea8d-4abc-9add-2c28b441999b",
      "name": "Wait Before Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        608,
        112
      ],
      "webhookId": "5cc8196e-49a6-4f91-95b4-dae3f32a7a98"
    },
    {
      "parameters": {
        "chatId": "={{ $('Extract URL').item.json.chatId }}",
        "text": "=❌ Failed to scrape Instagram content.\n\nStatus: {{ $json.data.status }}\nError: {{ $json.data.statusMessage || 'Unknown error' }}\n\nPlease try again or check if the URL is valid.",
        "additionalFields": {
          "reply_to_message_id": "={{ $('Extract URL').item.json.messageId }}"
        }
      },
      "id": "e74a4728-17a7-4095-b477-9f87515bb370",
      "name": "Error: Apify Failed",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        384
      ],
      "webhookId": "14fdac64-a53c-4dd8-b98f-ac9db91ef8fa",
      "credentials": {
        "telegramApi": {
          "id": "5uoP4G2VKuspNMag",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $credentials.apifyToken }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "2df091df-68dc-4b83-8450-e3bdcbed68ab",
      "name": "Get Apify Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        80
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "EZwWpe8qNOXlyuG7",
          "name": "apify_credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract and combine all text content from Apify results\nconst items = $input.all();\nconst extractedContent = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Collect all relevant text fields\n  const contentParts = [];\n  \n  // Caption/description\n  if (data.caption) {\n    contentParts.push('Caption: ' + data.caption);\n  }\n  \n  // Post text\n  if (data.text) {\n    contentParts.push('Text: ' + data.text);\n  }\n  \n  // Video transcription\n  if (data.videoTranscription) {\n    contentParts.push('Video Transcription: ' + data.videoTranscription);\n  }\n  \n  // Alt text\n  if (data.alt) {\n    contentParts.push('Alt Text: ' + data.alt);\n  }\n  \n  // Comments (if available)\n  if (data.latestComments && Array.isArray(data.latestComments)) {\n    const comments = data.latestComments\n      .map(c => c.text)\n      .filter(Boolean)\n      .join(' | ');\n    if (comments) {\n      contentParts.push('Comments: ' + comments);\n    }\n  }\n  \n  // Combine all parts\n  if (contentParts.length > 0) {\n    const metadata = {\n      url: data.url || $('Extract URL').item.json.url,\n      type: data.type || 'unknown',\n      timestamp: new Date().toISOString(),\n      ownerUsername: data.ownerUsername || 'unknown',\n      likesCount: data.likesCount || 0\n    };\n    \n    extractedContent.push({\n      text: contentParts.join('\\n\\n'),\n      metadata: JSON.stringify(metadata)\n    });\n  }\n}\n\nif (extractedContent.length === 0) {\n  throw new Error('No text content could be extracted from the Instagram post');\n}\n\n// Return combined content\nreturn [{\n  json: {\n    text: extractedContent.map(c => c.text).join('\\n\\n---\\n\\n'),\n    metadata: extractedContent[0].metadata,\n    chatId: $('Extract URL').item.json.chatId,\n    messageId: $('Extract URL').item.json.messageId,\n    contentCount: extractedContent.length\n  }\n}];"
      },
      "id": "3dc6d785-b795-4bc9-b1f2-5a5648252919",
      "name": "Parse Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        64
      ]
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "id": "4a6c8bd5-60b4-47ad-a57f-a19760427de8",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2720,
        336
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {
          "splitCode": "markdown"
        }
      },
      "id": "edf90ce9-a0ee-4d0f-bc5a-21a75d5593a4",
      "name": "Recursive Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2720,
        544
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "instagram-embeddings",
          "mode": "list",
          "cachedResultName": "instagram-embeddings"
        },
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": ""
        }
      },
      "id": "7a6c8fdb-4901-4956-aaf8-53d5d89dd229",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        2576,
        64
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "pineconeApi": {
          "id": "PYmjQOJpTljbkLP5",
          "name": "yt-content-Pinecone"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "35e8eac1-b731-4b73-8090-07eb49f9ca61",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2544,
        320
      ],
      "credentials": {
        "openAiApi": {
          "id": "1sOem2XTu29Bry7P",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Content').item.json.chatId }}",
        "text": "=✅ Instagram content successfully processed!\n\n📊 Extracted: {{ $('Parse Content').item.json.contentCount }} content item(s)\n🗄️ Stored in Pinecone index: instagram-embeddings\n\nYour Instagram content is now searchable via embeddings!",
        "additionalFields": {
          "reply_to_message_id": "={{ $('Parse Content').item.json.messageId }}"
        }
      },
      "id": "e73cc0ba-cfd9-4e77-88df-8d15848a4bf8",
      "name": "Success Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2896,
        64
      ],
      "webhookId": "160675c9-e6fe-43de-95d4-b0ebf3e73b7a",
      "credentials": {
        "telegramApi": {
          "id": "5uoP4G2VKuspNMag",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "instagram-check",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "instagram.com"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6fa48bb7-863c-42c9-92d6-3c8144a2f02d",
      "name": "Check Instagram Link",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -592,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normalize Apify response to always be an array\nlet items = $input.all()[0].json;\n\n// If single object, wrap in array\nif (!Array.isArray(items)) {\n  items = [items];\n}\n\n// If empty array or no items, throw error\nif (items.length === 0) {\n  throw new Error('Apify returned empty dataset');\n}\n\n// Return as array of items\nreturn items.map(item => ({ json: item }));"
      },
      "id": "ee724531-6ebc-4fd0-844f-832d0af1add4",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        80
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Validate Instagram content has meaningful data\nconst data = $input.first().json;\n\n// Check for any content fields (order of priority)\nconst contentFields = [\n  { name: 'caption', value: data.caption },\n  { name: 'text', value: data.text },\n  { name: 'videoTranscription', value: data.videoTranscription },\n  { name: 'alt', value: data.alt }\n];\n\n// Find first non-empty content field\nconst validContent = contentFields.find(field => \n  field.value && field.value.trim().length > 50\n);\n\nif (!validContent) {\n  // Log what we got for debugging\n  const foundFields = contentFields\n    .filter(f => f.value)\n    .map(f => `${f.name}: ${f.value.substring(0, 30)}...`);\n  \n  throw new Error(\n    `No substantial content found. ` +\n    `Found fields: ${foundFields.join(', ') || 'none'}`\n  );\n}\n\n// Pass through if valid\nreturn [$input.first()];"
      },
      "id": "2827044b-ce1e-42e3-9eb0-af385cfeb37d",
      "name": "Validate Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        80
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f6012b8a-42c5-4891-bdc9-388e3bda918a",
      "name": "Check Validation Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1952,
        80
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Extract URL').item.json.chatId }}",
        "text": "=❌ No content extracted from Instagram.\n\nError: {{ $json.error.message }}\n\nThis might happen if:\n- The post has no text/caption (photos without descriptions)\n- Content is too short\n- The URL is invalid\n\nPlease try a different post.",
        "additionalFields": {
          "reply_to_message_id": "={{ $('Extract URL').item.json.messageId }}"
        }
      },
      "id": "e4755fa5-f62c-403e-9b48-89f8dc9247d9",
      "name": "Error: No Results",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2192,
        272
      ],
      "webhookId": "4b446d63-f8d6-442e-96f9-df1431310be2",
      "credentials": {
        "telegramApi": {
          "id": "5uoP4G2VKuspNMag",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Extract URL": {
      "main": [
        [
          {
            "node": "Check URL Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check URL Found": {
      "main": [
        [
          {
            "node": "Start Apify Run",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: No URL Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Apify Run": {
      "main": [
        [
          {
            "node": "Initial Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initial Wait": {
      "main": [
        [
          {
            "node": "Poll Apify Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Apify Status": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Get Apify Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check If Still Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Still Running": {
      "main": [
        [
          {
            "node": "Wait Before Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Apify Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Retry": {
      "main": [
        [
          {
            "node": "Poll Apify Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Parse Content": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check Instagram Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Instagram Link": {
      "main": [
        [
          {
            "node": "Extract URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Apify Results": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Response": {
      "main": [
        [
          {
            "node": "Validate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Content": {
      "main": [
        [
          {
            "node": "Check Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation Error": {
      "main": [
        [
          {
            "node": "Parse Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: No Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aa0ed557-5b93-472f-8d94-15aa00d0a645",
  "meta": {
    "instanceId": "7a8fae4bdef8be14f4d46113552ce42849f5148e692dc0c87fceb9a2178a93db"
  },
  "id": "C4SWi4AIIVUvu0w4",
  "tags": []
}